.Parent{
    height: 100vh;
    width: 100%;
}
.Name_of_the_store{
    width: 100%;
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    /*background-image: linear-gradient(to right, pink , blue);*/
}
.about{
    height: 15%;
    width: 100%;
    border: 2px;
}

h3{
    font-weight: normal;
}
p:nth-child(1){
    font-size: xx-large;
}
.espresso{
    width:30%;
    height:50%;
    background-color:blue;
}
.Donuts{
    width:30%;
    height:50%;
    background-color:red;
}
.Latte{
    width:30%;
    height:50%;
    background-color:yellow;
}
.coffee{
    width: 100%;
    height:100%;
    display:flex;
    justify-content: space-between;
}